body {
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box {
    background-color: lightgrey;
    width: 400px;
    height: 250px;
}

.whitebox {
    background-color: white;
    margin: 5px;
    padding: 10px;
}

.collapse-btn {
    background-color: rgb(29, 134, 173);
    width: 20%;
    height: 25px;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 13px;
}

.collapse-btn:focus {
    outline: 3px solid lightblue;
}

.textbox {
    margin-top: 5px;
    padding: 5px;
    border: 1px solid grey;
    font-size: 13px;
    color: grey;
    overflow: hidden;
}

.block {
    width: 300px;
    margin: 10px;
    opacity: 0;
    animation-duration: 1s;
    max-height: 0;
    overflow: hidden;
}

.hiding-block {
    animation-name: fadeOut;
    opacity: 0;
    transition: opacity 0.1s 1s;
}

.showing-block {
    animation-name: fadeIn;
    max-height: 500px;
    opacity: 1;
}

@keyframes fadeIn {
    from {
        max-height: 0;
    }
    to {
        max-height: 500px;
    }
}

@keyframes fadeOut {
    from {
        max-height: 500px;
    }
    to {
        max-height: 0;
    }
}

.copy {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.copy-link {
    display: inline-block;
    margin: 5px;
    color: grey;
    font-size: 12px;
}